body {
  margin: 0;
  background: black;
  font-family: system-ui;
  display: grid;
  place-content: space-evenly;
  min-height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  width: 98vw;
  height: 100vh;
}
