.div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 502px;
  margin-left: 0.5em;
}
.textModule{
  display: flex;
  flex-direction: column;
}

.span{
  margin-right: 0.5em;
}
.textReply{
  font-weight: bolder;
  color: #1DA1F2;
}
.arrowDown{
  margin-left: 1em;
}

.canReply{
  border-radius: 50px;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.canReply:hover{
  background: rgba(128, 128, 128, 0.1);
}
.borderBottom{
  border-bottom: 1px solid #2f3336;
}
.textReply{
  padding: 0.5em;
  font-weight: bolder;
  color: #1DA1F2;
}
