.input{
  width: 100%;
  min-height: 56px;
  background-color:black;
  font-size: x-large;
  margin: auto 0;
  color: white;
  border: none;
}
.input:focus{
  outline: none;
}
textarea{
  overflow: hidden;
  resize: both;
  height: auto;
}
