.div {
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 107px;
  color: white;
  background-color: rgba(0 0, 0, 0.65);
  backdrop-filter: blur(12px);
}

.home {
  margin: 1em 0 0 1em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2em;
}
